build/
.vscode/
indices/
.cache/
data/*
data-example/*
figures/*
scripts/tests-pipeann/drop_cache
pipeann/*.so
pipeann/__pycache__/*
pipeann.egg-info/
dist/
*.log
scripts/figs/
scripts/figs*
tests/utils/check_disk_index_connectivity
tests/utils/check_graph_connectivity
tests/utils/shuffle_fbin
*.out